body{
	font: 'Raleway', sans-serif;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(to right, red, yellow);
	color: rgba(0, 0, 0, 0.5);

}

h1{
	font: 600 3.5em 'Raleway', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	width: 100%;
}

